.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-img-card{
  position: relative;
  width: 275px;
  height: 300px;
  margin: 10px;
  background-image: url('../../images/Untitled_Artwork.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;
  background-color: transparent;
  overflow: hidden;
}

.card-img-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:center-top;
  display:block;
}
.card-img-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 12px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  overflow-y: auto;
}
/*
 .card-img-card .text-zone {
  position: absolute;
  top: 25%;
  left: 20%;
  width: 55%;
  height: 60%;
  color: white;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.1;
  color: #000;
} */
 .text-zone {
  position: absolute;
  top: 30%;
  left: 32%;
  width: 52%;
  height: 60%;
  /* line-height: .4; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #000;
  text-align: left;
  font-size: 0.9rem;
  padding: 5px;
  /* background-color: rgba(0,0,0,.2); */
  overflow-wrap: break-word;
  transform: skew(-2deg)
}

.text-zone h2,
.text-zone p,
.text-zone small {
  margin: 3px 0;
  line-height: 1;
}

.priority-line {
  color: rgb(139, 17, 17);
  font-weight: bold;
}
