
.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.card-img-card {
  position: relative;
  width: 275px;
  height: 300px;
  margin: 10px;
  background-image: url('../../images/Untitled_Artwork.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  box-shadow: none;
  background-color: transparent;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.card-img-card:hover {
  transform: translateY(-5px);
}


.card-img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card-img-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 12px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}


.text-zone {
  position: absolute;
  top: 30%;
  left: 32%;
  width: 52%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #000;
  text-align: left;
  font-size: 0.9rem;
  padding: 5px;
  overflow-wrap: break-word;
  transform: skew(-2deg);
}

.text-zone h2,
.text-zone p,
.text-zone small {
  margin: 2px 0;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-zone h2 {
  font-size: 14px;
  padding-top: 4px;
  margin-bottom: 3px;
}
.text-zone p {
  font-size: 12px;
}

.text-zone small {
  font-size: 10px;
}

.priority-line {
  font-weight: bold;
}

.priority-line.high {
  color: red;
}

.priority-line.medium {
  color: orange;
}

.priority-line.low {
  color: green;
}

.priority-line.none {
  color: black;
}


.title-with-icon {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 5px;
}

.title-with-icon h2 {
  margin: 8px;
}

.category-icon {
  max-width: 28px;
  max-height: 28px;
  width: auto;
  height: auto;
  display: block;
}
