.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card-img-card{
  position: relative;
  width: 275px;
  height: 325px;
  margin: 10px;
  border: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  overflow: hidden;
}

.card-img-card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position:center-top;
  display:block;
}
.card-img-card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  padding: 12px;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  overflow-y: auto;
}

.card-img-card .text-zone {
  position: absolute;
  top: 15%;
  left: 32%;
  width: 55%;
  height: 60%;
  color: white;
  overflow: hidden;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.1;
  color: #000;
}
.priority-line {
  color: rgb(139, 17, 17);
  font-weight: bold;
}
