{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/todos/todo-index.css' %}"/>
{% endblock %}

{% block content %}
<section class="page-header">
  <h1>To Do List</h1>
  {% for category in categories %}
    <a href="{% url 'todos-index' %}?category={{ category.name }}">
      <img src="{% static category.image %}" alt="{{ category.get_name_display }}">
    </a>
  {% endfor %}
</section>

<section class="card-container">
  {% if todos %}
    {% for todo in todos %}
      <div class="card-img-card">
        <a href="{% url 'todo-detail' todo.id %}">
          <div class="card-content">
            <div class="text-zone">
              <div class="title-with-icon">
                {% if todo.category %}
                  <img class="category-icon" src="{% static todo.category.image %}" alt="{{ todo.category.get_name_display }}">
                {% endif %}
                <h2>{{ todo.name }}</h2>
              </div>
              <p><strong>Due:</strong> {{ todo.day }}</p>
              <p class="priority-line {{ todo.get_priority_display|lower }}">
                <strong>Priority:</strong> {{ todo.get_priority_display }}
              </p>
              <p><strong>Est. Time:</strong> {{ todo.esttime }}</p>
              <p><small>{{ todo.description }}</small></p>
              {% if todo.total_subtasks > 0 %}
                <div class="progress-container">
                  <div class= "progress-bar" style="width: {% widthratio todo.completed_subtasks todo.total_subtasks 100 %}%;">
                  </div>
                </div>
                <p class="progress-label"><small>{{ todo.completed_subtasks}} of {{ todo.total_subtasks }} subtasks complete</small></p>
              {% endif %}
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  {% else %}
    <div classs="empty-todos-container">
      <img src="{% static 'images/meditating.png' %}" alt="Meditating icon">
      <p class="no-todos-msg">
        A calm mind begins with a clear path. <br> Add a new <a href="https://groovasana-2b1896f660ee.herokuapp.com/todos/create/">to-do</a> to get started!
      </p>
    </div>
  {% endif %}
</section>
{% endblock %}
