{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/todos/todo-index.css' %}"/>
{% endblock %}
{% block content %}
<section class="page-header">
  <h1>To Do List</h1>
  <img
    src="{% static 'images/tags/briefcase .png' %}"
    alt="work icon"
  />
  <img
    src="{% static 'images/tags/studying.png' %}"
    alt="learning icon"
    />
    <img
      src="{% static 'images/tags/creative_projects.png' %}"
      alt="Creative icon"
    />
    <img
      src="{% static 'images/tags/travel.png' %}"
      alt="travel icon"
    />
    <img
      src="{% static 'images/tags/home.png' %}"
      alt="home icon"
    />
    <img
      src="{% static 'images/tags/self-care.png' %}"
      alt="wellness icon"
    />
    <img
      src="{% static 'images/tags/health.png' %}"
      alt="health icon"
    />
    <img src="{% static 'images/tags/recipe.png' %}"
    alt="food icon"
    />
  <img
    src="{% static 'images/tags/friendship.png' %}"
    alt="social icon"
  />
  <img
    src="{% static 'images/tags/family.png' %}"
    alt="family icon"
  />
  <img
    src="{% static 'images/tags/relationship.png' %}"
    alt="Relationship icon"
  />
</section>

<section class="card-container">
  {% for todo in todos %}
  <div class="card-img-card">
    <a href="{% url 'todo-detail' todo.id%}">
    <div class="card-content">
        <!-- <div class="overlay"> -->
        <div class="text-zone">
          <div class="title-with-icon">
          {% if todo.category %}
            <img class="category-icon" src="{% static todo.category.image %}" alt="{{ todo.category.get_name_display }}">
          {% endif %}
          <h2>{{ todo.name }}</h2>
        </div>
          <p><strong>Due:</strong> {{ todo.day }}</p>
          <p class="priority-line {{todo.get_priority_display|lower}}">
            <strong>Priority:</strong> {{ todo.get_priority_display }}
          </p>
          <p><strong>Est. Time:</strong> {{ todo.esttime }}</p>
          <p><small>{{ todo.description }}</small></p>
        </div>
      </div>
    </div>
  </a>
  </div>
  {% endfor %}
</section>
{% endblock %}
