{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/g-for-groovasana-no-backg.png' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <title>Groovasana</title>
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <a href="/" class="header-logo-container">
      <img src="{% static 'images/grover-no-back.png' %}" alt="Groovasana Grover Mascot" />
      <h1>Groovasana</h1>
    </a>
    <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/">Home</a></li>
        <li> <a href="/todos"> To-Do's </a></li>
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
