{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/g-for-groovasana-no-backg.png' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Karla&family=Yeseva+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
  <title>Groovasana</title>
  {% block head %}{% endblock %}
</head>
<body>
  <header>
    <a href="/" class="header-logo-container">
      <img src="{% static 'images/grover-no-back.png' %}" alt="Groovasana Grover Mascot" />
      <h1>Groovasana</h1>
    </a>
    <nav>
      <ul>
        {% if user.is_authenticated %}
          <li> <a href="/todos"> All To-Do's </a></li>
          <li><a href="{% url 'todo-create' %}">Add a Todo</a></li>
          <li><a href="/about">About</a></li>
          <li>
            <form id="logout-form" method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Log out</button>
            </form>
          </li>
          {% else %}
            <li><a href="/about">About</a></li>
            <li><a href="/">Log In</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
      </ul>
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
