@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  background-color: #ECEAFB;
  color: #333;
  overflow-x: hidden;
}
h1,h2,h3, h4{
  font-family: 'Yeseva One', cursive;
}

header {
  width: 100%;
  background-color: #F9FBD0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.header-logo-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #111411;
  gap: 10px;
}

.header-logo-container img {
  height: 60px;
}

.header-logo-container h1 {
  color: #fbc8cc ;
  font-size: 2.4rem;
  margin: 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
}

nav li {
  display: flex;
  align-items: center;
  padding: 5px 10px;

}

nav a,
#logout-form button {
  text-decoration: none;
  color: #4e785f;
  font-weight: 600;
  font-size: 18px;
  font-family: 'Yeseva One' !important;
  background: none;
  transition: color 0.2s ease-in-out;
}

nav a:hover,
#logout-form button:hover {
  color: #f9d2d5;
}

main {
  width: 100%;
  padding: 0 10px;
  max-width: 1300px;
}


h2 {
  font-size: 2.4rem;
}

.page-header {
  display: flex;
  align-items: center;
  margin: 20px;
}

.page-header h1 {
  font-size: 3.6rem;
  margin: 0;
}

.page-header img {
  height: 40px;
  margin-left: 15px;
}

.page-content {
  font-size: 1.6rem;
}


.btn {
  font-size: 1.8rem;
  padding: 8px 16px;
  border-radius: 12px;
  border: 2px solid #ccc;
  background-color: #f5f5f5;
  font-weight: 600;
  cursor: pointer;
  font-family: inherit;
  margin-right: 10px;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #ffe8f0;
}

.submit {
  color: #1a8000;
  border-color: #1a8000;
}

.secondary {
  color: #393939;
  border-color: #393939;
}

.warn {
  color: #ff6600;
  border-color: #ff6600;
}

.danger {
  color: #dc141e;
  border-color: #dc141e;
}

label, span, input, li {
  font-family: 'Karla', sans-serif;
}
