main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
  min-height: 100vh;
  padding-top:200px;
  background-color: #ECEAFB;

}

main > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 400px;
  max-width: 100%;
  margin-top: 60px;
  height: auto;
  display: block;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px;
  border-radius: 12px;
}

.login h1 {
  font-size: 2rem;
  margin-bottom: 16px;
}

.login label {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 1rem;
}

.login input {
  padding: 6px 10px;
  font-size: 1rem;
  width: 100%;
}

.login .btn {
  align-self: flex-end;
  margin-top: 16px;
  padding: 6px 12px;
  background-color: #F9FBD0;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  color: #41164f;
  cursor: pointer;
}
